footer {
    width: 100%;
    height: 300px;
    // border: 1px solid $color_light_grey;
    border-radius: 5px;
    margin-top: 64px;
    color: $color_grey;
    font: $font_base_poppins;
    padding: {
        top: 32px;
        left: 80px;
        bottom: 32px;
        right: 80px
    };
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
    'contact programs cont'
    'logo logo logo';
    .contact, .programs, .content {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .contact {
        grid-area: contact;
    }
    .programs {
        grid-area: programs;
    }
    .content {
    grid-area: cont;
    }
    .SPSElogo {
        padding-top: 40px;
        padding-bottom: 40px;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 70px;
        }
    }
    h3 {
        font-size: $font_size_h3;
        font-weight: 300;
    }
    p {
        font-size: $font_size_p;
        font-weight: 200;
    }

}