// --- Colors ---

$color_white: #F2F2F2;
$color_grey: #333333;
$color_light_grey: #adadad;


// --- Fonts ---

$font_base_poppins: normal normal 300 18px/1.8 'Poppins',sans-serif;

$font_size_h1: 48px;
$font_size_h2: 24px;
$font_size_h3: 18px;
$font_size_p: 18px;


// --- Widths for media query

$width_lpl: 1440px;
$width_lps: 1024px;
$width_lb: 768px;
$width_ml: 425px;
$width_mm: 375px;
$width_ms: 320px;

$width_custom_1200: 1200px;